/* header */
body {min-width:1200px;}
header {}
header .h_bg {
    background:#FFF2E7;
    height:100px; width:calc(100% -100px);
    border-radius:50px;
    display:flex; align-items:center;
    justify-content:space-between;
    margin:20px;
}
header .h_bg .left {
    display:flex; align-items:center;
    margin-left:50px;
}
header .h_bg .left .yoon {margin-right:20px;}
header .h_bg .left p { font-size:1.333rem; font-weight:700;}
header .h_bg .right {
    margin-right:50px;
}
header .h_bg .right a {
    margin-left:30px; font-size:1.333rem;
}
header .h_bg .right a:first-child {margin-left:0;}
/* section1 */
main {background:lime;}
main .home {
    background:url(../images/1bg.png);
    background-size:cover;
    overflow:hidden;
}
main .home .home_bg {
    width:1200px; margin:0 auto;
    position:relative;
}
main .home .home_bg .main_img {
    margin-top:100px; width:1200px;
}
main .home .home_bg .main_img .home_img {
    position:absolute; right:0;
    z-index:1;
}
main .home .home_bg .main_img .cloud1 {
    z-index:2; animation: star 2s linear alternate-reverse infinite;
}
main .home .home_bg .main_img .cloud2 {
    position:absolute; right:900px; top:200px;
    z-index:2; animation: star 2s linear alternate infinite;
}
main .home .home_bg .main_img .star1 {
    position:absolute; right:0;
    z-index:2; animation: star 2s linear alternate infinite;
}
main .home .home_bg .main_img .star2 {
    position:absolute; right:1000px; top:100px;
    z-index:2; animation: scale 2s linear alternate infinite;
}
main .home .home_bg .txt {
    margin-top:300px; font-size:3.157rem;
    line-height:70px; font-weight:700;
}
@keyframes star {
    0% {transform:translateY(0);}
    100% {transform:translateY(30px);}
}
@keyframes scale {
    0% {transform:scale(0.5);}
    100% {transform:scale(1);}
}
/* section2 */
main .profile {}
main .profile .s2 {}