/* header */
body {min-width:1200px;}
header {
    position:fixed;
    width:100%; z-index:999; min-width:1200px;
}
header .h_bg {
    background:#FFF2E7;
    height:100px; width:calc(100% -100px);
    border-radius:50px;
    display:flex; align-items:center;
    justify-content:space-between;
    margin:20px;
}
header .h_bg .left {
    display:flex; align-items:center;
    margin-left:50px;
}
header .h_bg .left .yoon {margin-right:20px;}
header .h_bg .left p { font-size:1.333rem; font-weight:700;}
header .h_bg .right {
    margin-right:50px;
}
header .h_bg .right a {
    margin-left:30px; font-size:1.333rem;
}
header .h_bg .right a:first-child {margin-left:0;}
/* section1 */
main {
    padding-top:140px;
}
main .home_bg {
    background:#FFF2E7 url(../images/1bg.png);
    background-size:cover;
    overflow:hidden;
    height:100vh;
}
main .home_bg .home {
    width:1200px; margin:0 auto;
}
main .home_bg .home .main_img {
    position:relative;
}
main .home_bg .home .main_img .home_img {
    margin-top:50px;
}
main .home_bg .home .txt_title {
    position:relative;
}
main .home_bg .home .txt_title .txt {
    font-size:3.157rem; position:absolute; z-index:2;
    line-height:70px; font-weight:700;
    top:-50px; left:30px;
}
main .home_bg .home .txt_title #web_txt {
    background:url(../images/web.png) repeat-x;
    width:100%; height:100px;
    position:absolute;
    animation:web 100s linear alternate infinite ;
}
@keyframes move {
    0% {transform:translateY(0);}
    100% {transform:translateY(20px);}
}
@keyframes scale {
    0% {transform:scale(0.5);}
    100% {transform:scale(0.8);}
}
@keyframes web {
    0% {background-position:0;}
    100% {background-position:-10000px;}
}
/* section2 */
main .profile_bg {
    background:#FFF2E7;
    padding-bottom:100px;
}
main .profile_bg .profile {
    width:1200px; margin:0 auto;
}
main .profile_bg .profile .top {
    display:flex; align-items:center;
}
main .profile_bg .profile .top > p {
    width:400px; height:400px;
}
main .profile_bg .profile .top > p img {
    width:100%; filter: brightness(130%);
    border-radius:30px;
}
main .profile_bg .profile .top .t_contents {
    margin-left:68px;
}
main .profile_bg .profile .top .t_contents dl {
    margin-bottom:40px;
}
main .profile_bg .profile .top .t_contents dl dt {
    font-size:1.777rem; font-weight:700;
    margin-bottom:40px;
}
main .profile_bg .profile .top .t_contents dl dd {
    line-height:30px;
}
main .profile_bg .profile .bottom {
    display:flex; margin-top:20px;
}
main .profile_bg .profile .bottom dl {}
main .profile_bg .profile .bottom dl dt {
    font-size:1.777rem; font-weight:700;
    margin-bottom:30px;
}
main .profile_bg .profile .bottom dl dd {}
main .profile_bg .profile .bottom dl dd p {
    margin-bottom:20px;
}
main .profile_bg .profile .bottom dl dd p em {
    font-size:1.333rem; font-weight:500;
    width:70px; display:inline-block;
}
main .profile_bg .profile .bottom dl dd p span {
    font-size:1.2rem; margin-left:100px;
}
main .profile_bg .profile .bottom .skill_title {
    margin-left:90px;
}
main .profile_bg .profile .bottom .skill_title > p {
    font-size:1.777rem; font-weight:700;
    margin-bottom:33px;
}
main .profile_bg .profile .bottom .skill_title .skill {
    height:250px;
    background:#fff; border-radius:20px;
}
main .profile_bg .profile .bottom .skill_title .skill .icon {
    text-align:center; background:#eee;
    border-radius:20px 20px 0 0; height:100px;
    display:flex;
}
main .profile_bg .profile .bottom .skill_title .skill .icon a.active {
    background:#fff; border-radius:20px 20px 0 0;
}
main .profile_bg .profile .bottom .skill_title .skill .icon a {
    width:100px; height:100px; cursor: pointer;
    display:inline-block; padding-top:25px;
}
main .profile_bg .profile .bottom .skill_title .skill .icon a img {}
main .profile_bg .profile .bottom .skill_title .skill .skill_contents {
    text-align:center; margin-top:50px;
}
main .profile_bg .profile .bottom .skill_title .skill .skill_contents p {
    line-height:25px;
}
/* section3 */
main .web_bg {
    background:#FFF2E7 url(../images/2bg.png);
    background-image:cover; overflow:hidden;
    position:relative; top:-100px; height:110vh;
}
main .web_bg .web {
    height:100%; width:1440px;
    margin:0 auto; position:relative; top:350px;
}
main .web_bg .web > p {margin-left:130px; margin-bottom:100px;}
main .web_bg .web > p span {
    
    font-size:2rem;font-family:'Gamja Flower', cursive;
}
main .web_bg .web p em {font-size:4.5rem; font-weight:700;}
main .web_bg .web #web_slide {}
main .web_bg .web #web_slide .swiper-wrapper {}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide {}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project {
    display:flex; justify-content:center;
}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project > p {
    margin-right:20px;
}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project > p img {}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project .info {
    margin-left:20px; margin-top:20px;
}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project .info h1 {
    font-size:1.777rem; font-weight:700;
    margin-bottom:50px;
}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project .info > p {
    margin-bottom:30px; font-size:1.333rem;
}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project .info .btn {}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project .info .btn a {
    background:#fff; height:40px;
    display:inline-block; line-height:40px;
    padding:0 15px; margin-left:10px;
    border-radius:10px;
}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project .info .btn a:first-child {margin-left:0;}
main .web_bg .web #web_slide .swiper-wrapper .swiper-slide .project .info .btn a:hover {
    background:#3EB6FF; color:#fff;
}
/* section 4 */
main .design_bg {
    background:#E7F6FF url(../images/3bg.png);
    height:120vh; margin-top:-100px;
}
main .design_bg .design {
    width:1440px; margin:0 auto;
}
main .design_bg .design .d_contents {
    display:flex; justify-content:space-between;
}
main .design_bg .design .d_contents a {
    display:inline-block; width:150px; height:150px;
    background:#E7F6FF; position:relative; line-height:150px;
    text-align: center; font-size:2rem;
    font-family: 'Gamja Flower', cursive;
    border-radius:100px;
}
main .design_bg .design a.d_active {
    background:#3EB6FF; color:#fff;
    scale:1.5; transition:all 0.5s;
}
main .design_bg .design .d_contents a:nth-child(1) {top:400px;}
main .design_bg .design .d_contents a:nth-child(2) {top:300px;}
main .design_bg .design .d_contents a:nth-child(3) {top:400px;}
main .design_bg .design .d_contents a:nth-child(4) {top:300px;}
main .design_bg .design .d1 {
    width:1440px; margin:0 auto;
    display:flex; justify-content:space-around;
    position:relative; top:500px;
}
/* d1 */
main .design_bg .design .d1 a {
    width:300px; height:300px; display:inline-block;
}
main .design_bg .design .d1 a img {width:100%;}
/* d2 */
main .design_bg .design .d2 {
    width:1440px; margin:0 auto;
    display:flex;  flex-flow:row wrap;
    position:relative; top:500px;
}
main .design_bg .design .d2 a {
    width:600px; height:200px; display:inline-block;
}
main .design_bg .design .d2 a img {width:100%;}
main .design_bg .design .d2 a:nth-child(odd) {margin-left:100px;}
main .design_bg .design .d2 a:nth-child(even) {margin-left:20px;}
main .design_bg .design .d2 a:nth-child(3),
main .design_bg .design .d2 a:nth-child(4) {margin-top:20px;}
/* d3 */
main .design_bg .design .d3 {
    width:1440px; margin:0 auto;
    display:flex; flex-flow:column nowrap;
    align-items:center;
    position:relative; top:500px;
}
main .design_bg .design .d3 .btn {
    margin-bottom:50px;
}
main .design_bg .design .d3 .btn button {
    display:inline-block; border-radius:10px;
    padding:10px 30px; background:#E7F6FF;
    font-family: 'Gamja Flower', cursive;
    font-size:2.3rem; text-align:center;
}
main .design_bg .design .d3 .btn button.d_active {background:#3EB6FF; color:#fff;}
main .design_bg .design .d3 .card_news {}
main .design_bg .design .d3 .card_news .news1 {
    width:1440px; margin:0 auto;
    display:flex; justify-content: space-between;
}
main .design_bg .design .d3 .card_news .news1 a img {}
main .design_bg .design .d3 .news1 a,
main .design_bg .design .d3 .news2 a {
    width:250px; height:250px; display:inline-block;
}
main .design_bg .design .d3 .news1 a img,
main .design_bg .design .d3 .news2 a img {width:100%;}
main .design_bg .design .d3 .news2 {
    margin-top:20px;
    width:1440px; margin:0 auto;
    display:flex; justify-content: space-between;
}
/* d4 */
main .design_bg .design .d4 {
    width:1440px; margin:0 auto;
    display:flex; justify-content:space-around;
    position:relative; top:500px;
}
main .design_bg .design .d4 a {
    width:300px; height:300px; display:inline-block;
}
main .design_bg .design .d4 a img {width:100%;}
main .design_bg .design .popup_design {
    position: fixed; left:0; top:0;
    width:100%; height:100vh; z-index:999;
    background:rgba(0, 0, 0, 0.5);
}
main .design_bg .design .popup_design .design_contents {
    width:800px; position:absolute;
    height:820px;
    overflow-y:auto;
    left:50%; top:50%;
    transform: translate(-50%, -50%);
}
main .design_bg .design .popup_design .design_contents img {width:100%;}
.design_img a {filter:grayscale(100%);}
.design_img a:hover {filter: grayscale(0);}
